[submodule "source/Host/thirdparty/imgui"]
	path = source/Host/thirdparty/imgui
	url = https://github.com/ocornut/imgui/
[submodule "source/Host/thirdparty/JoltPhysics"]
	path = source/Host/thirdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics/
[submodule "source/Host/thirdparty/vk-bootstrap"]
	path = source/Host/thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "source/Host/thirdparty/implot"]
	path = source/Host/thirdparty/implot
	url = https://github.com/epezent/implot
