using System.Runtime.InteropServices;

namespace Mocha.Glue;

public unsafe class <#= ClassName #>
{
	private IntPtr instance;

<#= FunctionDecls #>
	
	public <#= ClassName #>( <#= CtorArgs #> )
	{
		var args = Mocha.Common.Global.UnmanagedArgs;
		
<#= FunctionDefs #>

		this.instance = this._Create( <#= CtorCallArgs #> );
	}

<#= FunctionBodies #>
}