$background: #000000;
$bar: #ffffff;
$text: #ffffff;
$text-light: #bbbbbb;

$safe-area-x: 50px;
$safe-area-y: 50px;

root {
    align-items: flex-end;
    justify-content: space-between;
    padding-left: $safe-area-x;
    padding-right: $safe-area-x;
    padding-bottom: $safe-area-y;
}

vitals, weapon {
    width: 256px;
    border-radius: 10px;
    flex-direction: column;

    padding: 10px;
    padding-top: 0;
    padding-bottom: 5px;
}

image {
    position: absolute;
    left: $safe-area-x;
    top: $safe-area-y;
    width: 512px;
    aspect-ratio: 2.388;

    background-image: "ui/banner.png";
}

weapon {
    width: 384px;
    flex-direction: row;
    justify-content: space-between;
}

weaponimage {
    height: 48px;
    aspect-ratio: 2.5;

    background-image: "ui/m4.png";
}

row {
    flex-grow: 1;
    flex-direction: column;
}

col {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    flex-grow: 1;
}

vr {
    width: 2px;
    height: -1px;
    background-color: $text-light;
    margin-left: 20px;
}

b {
    font-size: 64px;
    margin-top: -15px;
}

p, b {
    font-weight: 500;
    color: $text;

    font-family: "ProFontWindows";
}

p {
    font-size: 24px;
    color: $text-light;
    margin-top: 10px;
    margin-bottom: 5px;
}

bar {
    width: 384px;
    height: 20px;
    flex-grow: 1;
}

bar.health {
    background-color: $bar;
}

bar.oxygen {
    background-color: $bar;
    height: 10px;
}
